.App {
  background: url('./Assets/auditorium.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: white;
  padding: 100px;
  transition: all .2s ease;
}